[Unit]
Description=Autoconnect chromium-mir-kiosk interfaces
After=snapd.seeded.service

[Service]
Type=oneshot
ExecStart=/usr/bin/snap connect chromium-mir-kiosk:wayland-socket-dir mir-kiosk:wayland-socket-dir
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
